.main-filter.panel.panel-primary
  .panel-heading
    .title{ class: (:hidden if @search.filter_enabled?) } Show filter
    .title{ class: (:hidden unless @search.filter_enabled?) } Hide filter
  .panel-body{ class: (:hidden unless @search.filter_enabled?) }
    = form_for @search, url: root_path, method: :get, role: :form do |f|
      .form-group
        = f.hidden_field :order_attr
        = f.hidden_field :order_dir
      .form-group.clearfix.checkbox
        - @search.all_tld.each do |name|
          .tld-item.pull-left
            %label
              = f.check_box :tld, { multiple: true }, name, nil
              = name

      .form-group
        = f.submit 'Search', class: 'btn btn-info pull-right'
