.main-filter.panel.panel-primary
  .panel-heading
    .title{ class: (:hidden if @search.filter_enabled?) } Show filter
    .title{ class: (:hidden unless @search.filter_enabled?) } Hide filter
  .panel-body{ class: (:hidden unless @search.filter_enabled?) }
    = form_for @search, url: root_path, method: :get, role: :form do |f|
      .form-group
        = f.hidden_field :order_attr
        = f.hidden_field :order_dir
      .form-group
        = f.label :tld, "Tld:"
        - @search.all_tld.each do |name|
          %span.tld-item
            - check_box_opts = { id: "tld_#{name}", class: :hidden, multiple: true }
            = f.check_box :tld, check_box_opts, name, nil
            %label.btn.btn-xs.btn-primary{ type: :button, for: "tld_#{name}" }= name

      .form-group
        = f.submit 'Search', class: 'btn btn-info pull-right'
