%h2 Home page

%table.table.table-striped
  %caption Domain names scrapped from first page
  %thead
    %tr
      %th Domain name
      %th Closing On
      %th Listed On
      %th Domain Expires
      %th Price
  %tbody
    - @domains.each do |domain|
      %tr
        %td= link_to domain.name, domain.listing_url, target: :_blank
        %td= domain.closing_on.in_time_zone('EST').strftime('%b %d, %Y %I:%M %p EST')
        %td= domain.listed_on.in_time_zone('EST').strftime('%b %d, %Y %I:%M %p EST')
        %td= domain.expires_on.in_time_zone('EST').strftime('%b %d, %Y %I:%M %p EST')
        %td= number_to_currency domain.price
