%h2 Home page

%table.table.table-striped
  %caption= paginate @domains
  %thead
    %tr
      %th Domain name
      %th TLD
      %th Listed On
      %th Closing On
      %th Domain Expires
      %th Price
  %tbody
    - @domains.each do |domain|
      %tr
        %td= link_to domain.name, domain.listing_url, target: :_blank
        %td= domain.tld
        %td= date_tooltip_for(domain.listed_on)
        %td= date_closing_tooltip_for(domain.closing_on)
        %td= date_tooltip_for(domain.expires_on)
        %td= number_to_currency domain.price
