%h2 Home page

%table.table.table-striped
  %caption= paginate @domains
  %thead
    %tr
      %th Domain name
      %th TLD
      %th Closing On
      %th Price
  %tbody
    - @domains.each do |domain|
      %tr
        %td= link_to domain.name, domain.listing_url, target: :_blank
        %td= domain.tld
        %td= domain.closing_on.try(:strftime, '%b %d, %Y %I:%M %p EST')
        %td= number_to_currency domain.price
